.prescriptions
  display: flex
  flex-direction: column
  height: calc(100vh - 120px)
  .prescription-content
    overflow: auto
    flex-grow: 1
  .prescription-form
    padding: 20px 40px
    background: #EFF6FF

.svg-box
    width: 100%
    position: relative
    height: calc(100vh - 158px)
    overflow: auto

.svg-box-content
    position: absolute
    top: 0
    left: 0
