$height-container: calc(100vh - 120px)

.prescriptions
  display: flex
  flex-direction: column
  height: $height-container

  .prescription-content
    overflow: auto
    flex-grow: 1

  .prescription-form
    padding: 20px 40px
    background: #EFF6FF

.svg-box
    width: 100%
    height: $height-container
    position: relative
    overflow: auto
    display: flex
    align-items: center;
    justify-content: center;

.svg-box-content
    position: absolute
    top: 60px
    left: 0
