<h6>
  <%= text_reference %>
</h6>
<% group.each do |section_reference, prescriptions| %>
  <strong>
    <%= section_reference %>
  </strong>
  <% prescriptions.each do |prescription| %>
    <%= render partial: 'prescriptions/prescription', locals: {prescription: prescription} %>
  <% end %>
<% end %>
