<div class='<%= "prescription_#{prescription.id} prescription" %>'>
  <p>
    <% prescription.content.split("\n").each do |line| %>
      <%= line %>
      <br>
    <% end %>
  </p>
  <%= link_to "Supprimer", installation_prescription_path(installation_id: @installation.id, id: prescription.id), remote: true, method: :delete,
    class: 'text-danger small',
    onclick: prescription.from_am? ? "document.getElementById('prescription_checkbox_#{prescription.alinea_id}').checked = false;" : "" %>
</div>
