<div class='<%= "prescription_#{prescription.id}" %>' >
    <p>
      <strong>
        <%= prescription.reference %>
      </strong>
    <br>
      <%= prescription.content %>
    </p>
    <p>

      <%= link_to "Supprimer", prescription, remote: true, method: :delete %>
    </p>
</div>
