.icon-collapse
  display: flex

  &:after
    flex-shrink: 0
    content: ""
    background: url("../images/chevron-down-solid.svg"), no-repeat
    background-size: 1rem 1rem
    height: 16px
    width: 16px
    margin-left: auto
    align-self: center
    opacity: 0.5

  &.collapsed::after
    transform: rotate(180deg)

.icon-collapse-mini
  &:after
    margin-left: 5px
    background-size: 0.5rem 0.5rem
    height: 6px
    width: 8px
