html
  scroll-behavior: smooth

li
  line-height: 3

.am_nav
  position: sticky
  top: 20px
  border-left: 2px solid $primary
  padding-left: 10px

  a
    color: inherit

    &:hover
      text-decoration: none
