html
  scroll-behavior: smooth

li
  line-height: 3

.am_nav
  position: sticky
  top: 20px
  border-left: 2px solid $primary
  padding-left: 10px

  a
    color: inherit

    &:hover
      text-decoration: none

.icon
  display: flex

  &:after
    content: ""
    background: url("../images/chevron-down-solid.svg"), no-repeat
    background-size: 1rem 1rem
    height: 16px
    width: 16px
    margin-left: auto
    align-self: flex-end
    opacity: 0.5

  &.collapsed::after
    transform: rotate(180deg)
