.form-check
  display: flex
  align-items: center

input:checked + label
  background-color: #D4E8F8

label
  padding: 1em
  border-radius: 2px
  width: 100%
  margin-bottom: 0
  cursor: pointer

input[type="checkbox"]
  cursor: pointer

.table td
  vertical-align: inherit

.table .form-check-input
  position: inherit
  margin: 0 auto
  display: block
