@keyframes fade-in
  100%
    opacity: 1

.spinner
  display: none
  z-index: 5
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

  align-items: center
  justify-content: center
  background-color: white

  &.active
    display: flex !important

  &.fade-in
    background-color: rgba($white, .7)
    opacity: 0
    animation: fade-in .15s .15s linear forwards

.icon-loader
  display: flex

  &:after
    content: ""
    background: url("../images/loader.svg"), no-repeat
    height: 45px
    width: 45px
