
h3 Comment la liste des arrêtés ministériels associés à l'installation est-elle déduite ?

p La liste des arrêtés est déduite de la liste des classements. Un arrêté est affiché si il y a au moins un classement en vigueur de l'installation dont la rubrique, le régime et l'alinéa correspondent à ceux de l'arrêté. L'alinéa n'est utilisé que s'il détermine le caractère applicable de l'arrêté.

p Lors de la consultation des AM de l'installation, certains paragraphes peuvent être annoncés comme inapplicables, potentiellement inapplicables ou modifiés. Pour déduire ces informations, Envinorma utilise les caractéristiques du ou des classement(s) associé(s) à l'arrêté ministériel consulté. Plus précisément :
ul
  li Lorsqu'un seul classement est associé à l'arrêté, les paramètres de ce classement sont utilisés pour déduire le caractère applicable des paragraphes de l'arrêté. Il peut être intéressant de renseigner les paramètres inconnus du classement pour améliorer la lisibilité de l'arrêté.
  li Lorsque plusieurs classements sont associés à l'arrêté, afin d'éviter toute ambiguïté, la détermination du caractère applicable se fait seulement sur la base des paramètres qui sont identiques pour tous les classements.

h3 Quelles sont les caractéristiques des classements utilisés pour déduire le caractère applicable des paragraphes des arrêtés ?

p La date de mise en service, la date d'autorisation (ou de déclaration, ou d'enregistrement selon le cas pertinent), la rubrique, le régime, l'alinéa de classement (la sous-rubrique) et le volume de classement.
