h3 Comment est calculée la liste des arrêtés ministériels associés à l'installation ?
p Le calcul de la liste des arrêtés s'appuie sur les classements. Un arrêté est affiché si il y a au moins un classement en vigueur de l'installation dont la rubrique et le régime correspondent à ceux de l'arrêté. L'alinéa n'est utilisé que s'il détermine le caractère applicable de l'arrêté.

h3 Quels paramètres sont pris en compte lors de l'affichage d'un arrêté ministériel ?
p Les arrêtés ministériels disponibles sur Envinorma sont dit "enrichis", c'est à dire structurés (en articles et paragraphes) et paramétrés manuellement une fois pour toutes pour prendre en compte les conditions d'application des articles. Les paramètres sont : la date de mise en service, la date d'autorisation (ou de déclaration, ou d'enregistrement selon le cas pertinent), la rubrique, le régime, l'alinéa de classement (la sous-rubrique) et le volume de classement.

h3 Mon AM n'affiche que des alertes potentiellement innaplicables ce n'est pas très aidant.
p Il se peut que les informations des classements ne soient pas bien renseignés : date de mise en service, volume… Vous pouvez modifier l'installation, en cliquant sur "Créer une copie de l’installation" puis "Modifier les classements". Cela devrait vous donner des résultats plus pertinents.

h3 Que se passe-t-il si plusieurs installations de l'établissement rendent applicables le même arrêté ministériel mais ont des dates d'installation différentes ?
p Lorsque plusieurs classements sont associés à l'arrêté, afin d'éviter toute ambiguïté, la détermination du caractère applicable se fait seulement sur la base des paramètres qui sont identiques pour tous les classements. Si vous vous intéressez surtout à un classement en particulier, n'hésitez pas à modifier l'installation afin de supprimer un des deux classements ou d'harmoniser les critères.
