h3 Quels sont les arrêtés préfectoraux affichés ?
p Les arrêtés préfectoraux sont ceux qui viennent de la base de Géorisques. Si vous ne trouvez pas un arrêté, ou que son nom est étrange, à vous de modifier le site dans GUN-S3IC. Les nouveaux AP et les modifications sont répercutées sur Envinorma le surlendemain.

h3 On ne peut pas faire mieux que les PDF ?
p Comme les AP Géorisques sont au format PDF, il est très difficile d'en extraire le texte et la structure de manière suffisamment fiable. En revanche, tous les AP ont été traités par un programme de reconnaissance de caractères. Il est donc possible de faire des recherches dans les documents et de copier-coller leur contenu.

h3 Comment extraire des prescriptions des arrêtés préfectoraux ?
p À l'aide d'un simple copier-coller. À chaque AP est associé un formulaire permettant de créer des prescriptions à partir du texte. Les éléments ainsi extraits sont ajoutés au recueil de prescriptions en cours de création.

h3 A quelle fréquence les AP sont-ils mis à jour ?
p La mise à jour des AP est automatisée et quotidienne. Il existe néanmoins un petit décalage entre le temps ou vous ajoutez/modifiez un AP dans S3IC et entre sa répercussion sur Envinorma. Il y a une première étape de récupération de la sauvegarde quotidienne de Géorisques le matin, puis une deuxième étape de transfert de ces données sur Envinorma le soir. Une modification sur S3IC apparaitra donc le surlendemain sur Envinorma.

h3 Sous Firefox, le visionneur pdf d'AP n'apparaît pas. Comment faire ?
p
  | C'est peut-être simplement la configuration du navigateur qui pose problème. Il faut définir les PDF comme "ouvrir par défaut dans Firefox". Cf. ce lien:
  '
  a href='https://support.mozilla.org/en-US/questions/1229226' https://support.mozilla.org/en-US/questions/1229226

h3 Envinorma peut-il m'aider à rédiger un arrêté préfectoral "svelte" ?
p Envinorma est plutôt conçu pour faciliter l'inspection des sites, mais vous pouvez tout de même vous en servir pour rédiger un AP svelte. Vous pouvez créer une installation fictive et y ajouter des classements. Vous aurez ensuite accès aux prescriptions qui s'appliquent par le seul droit national; à vous ensuite de compléter avec le canevas d'AP svelte !
