h3 Je cherche une ICPE mais elle n'apparaît pas. Pourquoi ?
p Pour qu'un établissement soit visible, il faut qu'il ait au moins une rubrique à autorisation ou enregistrement et en fonctionnement. Un site entièrement à déclaration n'apparaîtra pas.

p N'hésitez pas à essayer divers moyens de recherche, par exemple le code S3IC du site, son nom, sa localisation, son code postal. Et enlevez les accents !

p Si vous pensez qu'il manque une ICPE, écrivez-nous à drieat-if.envinorma@developpement-durable.gouv.fr !

h3 Est-ce que l'application Envinorma est connectée à S3IC ?
p Actuellement, la connexion avec S3IC n'est pas permanente : la mise à jour se fait de façon occasionnelle.

p A terme, une connexion automatique sera faite et permettra d'avoir un outil à jour avec un retard très faible sur Gun-S3IC.

p En revanche, il est possible de modifier le classement, de modifier les dates de la rubrique ou de supprimer une rubrique en cliquant sur "Créer une copie de l’installation" puis "Modifier les classements".

h3 Les classements sont-ils exactement les mêmes que sur S3IC ?
p L'interface étant publique, les classements en 47xx sont pour le moment supprimés et remplacés par la chaîne de caractères `47xx`. De même, les volumes des substances pour les rubriques en 4xxx ne sont pas accessibles.

p Suite aux dernières instructions transmises par la DGPR, ces critères vont être assouplis (classements affichés pour les rubriques 47xx, volumes autorisés affichés pour les rubriques 4xxx non 47xx).

h3 Les informations affichées sont fausses. Je peux les modifier ?
p Oui ! Vous pouvez modifier le classement ou les dates de la rubrique ou supprimer une rubrique en cliquant sur "Créer une copie de l’installation" puis "Modifier les classements". Ces modifications sont enregistrées dans la "session" de votre navigateur, donc uniquement sur le navigateur de votre ordinateur (elles sont conservées même si vous fermez votre navigateur et éteignez l'ordinateur, mais pas si vous supprimez historique/cookies). En revanche, ces modifications ne sont enregistrées ni sur une base Envinorma, ni sur Gun ou S3IC.
