h3 J'ai une idée de fonctionnalité, puis-je la soumettre ?
p Oui avec plaisir, soit via le formulaire de retour (bouton rouge à droite), soit en nous contactant par email à drieat-if.envinorma@developpement-durable.gouv.fr.

h3 Je trouve qu'un mot est mal choisi/peu clair, puis-je vous le signaler
p Bien sûr ! Chaque détail compte. Le formulaire de retour (bouton rouge à droite) permet de faire des retours ciblés sur un élément, ou vous pouvez nous écrire à drieat-if.envinorma@developpement-durable.gouv.fr.
