h3.h5.mt-3 Que se passe-t-il si plusieurs installations de l'établissement rendent applicables le même arrêté ministériel mais ont des dates d'installation différentes ?
p Dans ce cas, l'arrêté ministériel est présent une seule fois avec l'une des 3 dates d'installation. En attendant d'améliorer la prise en compte de ce cas là, il peut être préférable de supprimer les dates d'installations de ces installations.

h3.h5.mt-3 Quels paramètres sont pris en compte lors de l'affichage d'un arrêté ministériel ?
p La grande majorité des arrêtés ministériels disponibles sur Envinorma sont dit "enrichis", c'est à dire structurés (en articles et paragraphes) et paramétrés manuellement une fois pour toutes pour prendre en compte les conditions d'application des articles. Pour l'instant, le paramètre "Date de mise en service" est le seul pour lequel les prescriptions sont automatiquement rayées. Pour les autres paramètres, un avertissement est proposé : il vous évite de vous reporter systématiquement à l'annexe.

h3.h5.mt-3 Puis-je filtrer par thème ?
p Cette fonctionnalité n'existe pas encore, mais on y réfléchit. Pour l'instant, vous pouvez faire un bon vieux Ctrl+F pour rechercher un terme précis dans les arrêtés ministériels.
