h3.h5.mt-3 Quels sont les arrêtés préfectoraux affichés ?
p Les arrêtés préfectoraux sont ceux qui viennent de la base de Géorisques. Si vous ne trouvez pas un arrêté, ou que son nom est étrange, à vous de modifier le site dans Gun-S3IC.
h3.h5.mt-3 On ne peut pas faire mieux que les PDF ?
p Comme les AP géorisques sont au format PDF, il est très difficile d'en extraire le texte et la structure de manière suffisamment fiable. En revanche, tous les AP ont été traités par un programme de reconnaissance de caractères. Il est donc possible de faire des recherches dans les documents et de copier-coller leur contenu.
h3.h5.mt-3 Comment extraire des prescriptions des arrêtés préfectoraux ?
p À l'aide d'un simple copier-coller. À chaque AP est associé un formulaire permettant de créer des prescriptions à partir du texte. Les éléments ainsi extraits sont ajoutés à la fiche d'inspection en cours de création.

h3.h5.mt-3 A quelle fréquence les AP sont-ils mis à jour ?
p Pour l'instant, les AP ont tous été traités fin avril. On travaille à implémenter des algorithmes pour faire automatiquement et régulièrement une mise à jour.

h3.h5.mt-3 Sous Firefox, le visionneur pdf d'AP n'apparaît pas. Comment faire ?
p
  | C'est peut-être simplement la configuration du navigateur qui pose problème. Il faut définir les PDF comme "ouvrir par défaut dans Firefox". Cf. ce lien:
  '
  a href='https://support.mozilla.org/en-US/questions/1229226' https://support.mozilla.org/en-US/questions/1229226

h3.h5.mt-3 Envinorma peut-il m'aider à rédiger un arrêté préfectoral "svelte" ?
p Envinorma est plutôt conçu pour faciliter l'inspection des sites, mais vous pouvez tout de même vous en servir pour rédiger un AP svelte. Vous pouvez créer une installation fictive et y ajouter des classements. Vous aurez ensuite accès aux prescriptions qui s'appliquent par le seul droit national; à vous ensuite de compléter avec le canevas d'AP svelte !
