html
  scroll-behavior: smooth

.main_nav
  padding: 0.5em
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
  position: sticky
  top: 0
  background-color: #ffffff
  z-index: 1

.logo
  display: block
  img
    width: 30px

.am_nav
  display: flex
  justify-content: center
  background-color: #eee
  position: sticky
  top: 47px
  z-index: 2
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)

  li
    text-align: center
    line-height: 1.2
    font-size: 0.9em
  a
    color: inherit
    display: block
    padding: 0.5em 2em

    &:hover,
    &.current
      color: #000000
      text-decoration: none
      border-bottom: 3px solid $primary
      padding-bottom: calc(0.5em - 3px)

.back_link
  position: fixed
  top: 110px
  font-size: 0.8em
  z-index: 3

.summary
  position: sticky
  top: 150px
  border-left: 2px solid $primary
  font-size: 0.8em
  bottom: 0
  height: 75vh
  overflow-y: auto

  a
    color: inherit
    display: block
    padding-left: 10px

    &:hover,
    &.current
      text-decoration: none
      color: #000000
      border-left: 3px solid $primary
      padding-left: 7px

  .level_0
    text-transform: uppercase
    font-weight: bold

.display-summary.current
  display: block

.display-summary
  display: none

section.anchor::before, div.anchor::before
  display: block
  content: " "
  margin-top: -140px
  height: 140px
  visibility: hidden
  pointer-events: none
